

.app-title{
    font-family: 'Pokemon', sans-serif;
}

.loading{
    position:absolute;
    z-index:4;
    left:30%;
    top:25%;
    transform: translate(-25% -25%);
    width:75px;
    height:75px;
    border-radius:50%;
    border:5px solid grey;
    border-left-color:green;
    animation:spinning .2s linear infinite;
}

@keyframes spinning{
    from{
        transform:rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}

.pokedex-container{
    position: relative;
    z-index:1;
}

.pokemon-sprite{
    position:absolute;
    top:170px;
    left:110px;
    width:150px;
    height:150px;
    animation: bounce 1s linear  infinite 2s alternate;
}

@keyframes bounce {
    from{
        top:170px
    }
    to{
        top: 160px
    }
}

.search-container{
position: absolute;
    bottom: 80px;
    left: 100px;
}

.search{
    padding:5px 0;
    box-shadow:inset 1px 2px 5px black;
    text-indent:10px;
    display:block;   
}

.btn{
    padding:2px 5px;
    margin:5px 10px 0 0;
    width:55px;
    height:55px;
    cursor:pointer;
    box-shadow: 2px 2px 5px black;
    border-radius:50%;
}

.start{
    background:rgb(124, 252, 56);
}

.clear{
    background:rgb(0, 225, 255);
    color:black;
}

.screen{
    position:absolute;
    background:black;
    color:rgb(82, 255, 47);
    top:98px;;
    right:65px;
    width:240px;
    height: 170px;
    padding:9px;
    font-size:14px;
    overflow-y:scroll;
    scrollbar-color: rgb(82, 255, 47) black;
        /* thumb color | track color */
}

.screen .header{
    display:flex;
    justify-content:space-evenly;
    gap:10px;
    p{
        width:50%;
    }
    b{
        text-decoration:underline;
    }
}

.stat-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:start;
}

.stats{
    margin:5px 0;
}
.stats h4, .abilities h4{
    text-decoration:underline;
}
.stat-container li:nth-of-type(1){
    margin-top:5px;
}
.stat-container > li {
    min-width:40%;
    display:flex;
    align-items:end;
    width:max-content;
    margin-bottom:2px;
}

@media (max-width:800px){
    .pokedex-container{
        width:450px;
    }

    .pokedex-container img{
        width:100%;
    }

    .pokemon-sprite{
        left:60px;
        width:90px !important;
        height:90px;
    }
    .screen{
        top:55px;
        right:37px;
        width: 30%;
        height: 100px;
    }

        @keyframes bounce {
            from {
                top: 90px
            }
    
            to {
                top: 85px
            }
        }

        .search-container{
            bottom:30px;
            left:30px;
        }

        .search{
            width:80%;
        }

        .btn{
            width: calc(max-content + 50px);
            height:30px;
            border-radius:0%;
        }
        .header, .stat-container{
            flex-direction:column;
            font-size:16px;
        }

        .screen .header p{
            width:100%;
        }
}
@media (max-width: 466px){
    .pokedex-container {
            width: 300px;
        }

                .pokemon-sprite {
                    left: 40px;
                    width: 60px !important;
                    height: 60px;
                }
        
                .screen {
                    top: 35px;
                    right: 25px;
                    width: 30%;
                    height: 65px;
                }
        
                @keyframes bounce {
                    from {
                        top: 60px
                    }
        
                    to {
                        top: 60px
                    }
                }


        .search-container {
            bottom: 15px;
            left: 20px;
            }
            
        .search {
            width: 50%;
        }
            
        .btn {
            width: max-content;
            height: 20px;
            border-radius: 0%;
            font-size:10px;
        }

        .screen .header p, .screen .header b {
            width: 100%;
            font-size:10px;
        }
        .stat-container>li{
            min-width:unset;
            width:unset;
        }
}